# Python cache file, need be ignore
__pycache__/
*.py[cod]
*$py.class


# other common overlooked items
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# special file -> exapmle: your train model weight
tests/*
